<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utente.calcolaorauscita" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- richiedo questo permesso per cancellare il valore dell'allarme impostato nella shared prefs in caso di reboot
             del cellulare -->



        <activity
            android:launchMode="singleInstance"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".CalcolaOraUscitaWidget" android:label="@string/linear_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calcola_ora_uscita_widget_info" />
        </receiver>

        <receiver android:name=".CalcolaOraUscitaWidget_2x2" android:label="@string/square_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calcola_ora_uscita_widget_info_2x2" />
        </receiver>

        <receiver android:name=".CalcolaOraUscitaWidget_1x1" android:label="@string/little_square_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calcola_ora_uscita_widget_info_1x1" />
        </receiver>

        <receiver android:name=".AlarmReceiver"/>

        <receiver android:name=".BootBroadcastReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
